.access {
  background-color: $Desaturated-Blue;

  .container {
    padding-top: 11rem;
  }
  &__left {
    display: flex;
    flex-direction: column;
    h3,
    p {
      color: #fff;
    }

    h3 {
      font-size: 2.8rem;
      padding-bottom: 2rem;
      @include breakpoint(small) {
        font-size: 2.5rem;
      }
    }

    p {
      font-size: 1.5rem;
      max-width: 47rem;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(medium) {
      text-align: center;
    }
  }
}

.access {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;

  input {
    width: 100%;
    margin-bottom: 1.5rem;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    border: none;
  }
}
