@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #000;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

h1,
h3,
h4 {
  color: $Very-Dark-Blue;
}

h1 {
  font-size: 3.4rem;
}

h1,
h3,
button,
.cta {
  font-family: "Raleway", sans-serif;
}

p {
  color: $Desaturated-Blue;
}

.container {
  max-width: 100%;
  width: 144rem;
  padding: 0 6.6rem;
  margin: 0 auto;
  overflow: hidden;
}

// Breakpoints
$breakpoints: (
  // Phones
    small: 37.5rem,
  // Tablet
    medium: 76.8rem
);

@mixin breakpoint($size) {
  $breakpoint-value: map-get($breakpoints, $size);

  @media screen and (max-width: $breakpoint-value) {
    @content;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
}

form {
  display: flex;
  align-items: center;
  @include breakpoint(small) {
    flex-direction: column;
  }
}

input {
  padding: 1.5rem 2rem;
  border: none;
  border: 1px solid #000;
  border-radius: 0.2rem;
  margin-right: 1.5rem;
  flex: 0.7;

  @include breakpoint(small) {
    margin-bottom: 2rem;
    width: 100%;
  }
}

input:focus {
  outline: none;
}

input::placeholder {
  color: $Light-Gray;
  font-size: 1.5rem;
}

.cta {
  padding: 1.5rem 4rem;
  border-radius: 0.2rem;
  background-color: $Bright-Blue;
  border: none;
  color: $Light-Grayish-Blue;
  font-size: 1.3rem;
  font-weight: 700;
  flex: 0.3;

  @include breakpoint(small) {
    width: 100%;
    margin-right: 1.5rem;
  }

  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }
}
