header {
  margin-top: 3.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    max-width: 17.6rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      padding: 0;
      li {
        margin-left: 3rem;
        color: $Very-Dark-Blue;
        font-size: 1.7rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
