header {
  margin-top: 2.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    max-width: 17.6rem;
    @include breakpoint(small) {
      max-width: 13rem;
      margin-bottom: 2rem;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(small) {
      flex-direction: column;
    }
    ul {
      display: flex;
      padding: 0;
      li {
        margin-left: 3rem;
        color: $Very-Dark-Blue;
        font-size: 1.7rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
