.hero {
  margin-top: 6rem;

  &__left {
    width: 50rem;
    max-width: 100%;
    margin: auto;
    @include breakpoint(medium) {
      grid-row: 2/3;
    }
    h1,
    p {
      margin-bottom: 2rem;
    }
  }
  &__right {
    img {
      display: block;
      width: 55rem;
      max-width: 100%;
      margin: auto;
    }
  }
  @include breakpoint(medium) {
    &__right {
      grid-row: 1 /2;
      text-align: center;
    }

    &__left {
      grid-row: 2 / 3;
      text-align: center;
    }
  }
}
