// Colors

// Primary

$Very-Dark-Blue: #070439;
$Desaturated-Blue: #585989;

// Accent

$Bright-Blue: #3065f8;
$Moderate-Cyan: #3c9f8f;

// Neutral

$Light-Grayish-Blue: #f6f6fe;
$Light-Gray: #bfbfbf;
